html
  head
    title=doc.name
    script(async, src='/js/download.min.js')
    link(rel='stylesheet', href='/css/styles.min.css')
  
  body
    .container(page='download')
      if ['.png', '.jpg', '.gif', '.jpeg'].indexOf(extension) != -1
        img(src=url_raw)
      
      a(href=url_raw) Download